.header-top {
  padding: 15px;
  background-color: #004b3f;
  position: relative;
}

.navbar-custom{
  background-color: #c8e1d1;
}

.nav-link {
  font-weight: bold !important;
  /* font-family: calibri; */
  font-size: larger;
  padding: 0px;
  display: inline;
  width: 50%;
  text-align: center;
  border-left: 2px solid #dae4e0;
}

.nav-link :hover , .nav-link.active{
  background-color: #bce9cc;
}

.custom-logo-link {
  padding-right: -10%;
  margin-top: -30px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .header-top {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {  /*phone screen*/
  .nav-link {
    border-left: none;
    border-bottom: 2px solid #dae4e0;
  }
}

@media screen and (min-width: 991px) {  /* full screen*/
  .custom-logo-link {
    padding-left: 15px;
  }
}
