.title {
  margin: 25px;
  text-align: center;
}

.innerWrap.loading {
  opacity: 0.5;
  pointer-events: none;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sites {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.innerWrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-style: solid;
}

.campground-map {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
